  .addIcon{ background-image:url(../img/add.gif) !important;}  
  .editIcon{ background-image:url(../img/edit.png) !important;}
  .deleteIcon{ background-image:url(../img/delete.gif) !important;}
  .viewIcon{ background-image:url(../img/view.png) !important;}
  .refreshIcon{ background-image:url(../img/refresh.png) !important;}
  .excelIcon{ background-image:url(../img/excel.gif) !important;}
  .pdfIcon{ background-image:url(../img/pdf.gif) !important;}